*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 100px;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text hi span{
    color: #ff9f43;
}
/*-------------------about--------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub.title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-content{
    list-style-type: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff9f43;
    font-size: 14px;
}
.tab-contents{
    display: none;
}    
.tab-contents.active-tab{
    display: block;
}
/*-------------------services--------------------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #1a1a1a;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 30px;
    color: #ff9f43;
}

.services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.services-list div a{
    color: #ff9f43;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div :hover{
    background: #ff9f43;
    transform: translateY(-5px);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.5s, transform 0.5s, color 0.5s, padding 0.5s;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 159, 67, 0.5);
}
/*-------------------portfolio--------------------*/
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.5),#ff9f43);
    border-radius: 1px;
    position: absolute;
    left: 0;
    display: flex;
    bottom: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}   

.layer h3{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.layer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 50%;
    width: 60px;
    line-height: 60px;
    height: 60px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    color: white;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff9f43;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff9f43;
    color: black;
    transition: background 0.5s;
}

/*-------------------contact--------------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left a{
    margin-top: 20px;
    display:  inline-block;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 50%;
}
.contact-left a i{
    font-size: 20px;
    color: #ff9f43;
    margin-right: 10px;
}
.social-icons{
    display: flex;
    margin-top: 20px;
}

.social-icons a{
    margin-right: 10px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff9f43;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff9f43;
}
.btn.btn2:hover{
    background: white;
    color: black;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #1a1a1a;
    border: 0;
    color: white;
    border-radius: 5px;
    outline: none;
    font-size: 18px; 
}
form btn2{
    background: #ff9f43;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}
.form btn2:hover{
    background: white;
    color: black;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: grey;
    font-weight: 300;
    margin-top: 20px;
    color: white;
}    
.copyright i{
    color: #ff9f43;
    text-decoration: none;
}
/*-----------------------css for small devices-----------------------*/
nav .fas{
    display: none;
}
@media only screen and (max-width: 480px){
    .header-text{
        font-size: 14px;
        margin-top: 100%;
    }
    .header-text h1{
        font-size: 24px;
    }
    nav .fas{
        display: block;
        font-size: 20px;
    }
    nav ul{
        position: fixed;
        width: 180px;
        height: 100vh;
        background: #1a1a1a;
        top: 0;
        right: -180px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 20px;
    }
    nav ul .fas{
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }    
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}